body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 100vh;
    background-color: azure;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0, 0, 10px rgb(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: black;
}

.question{
    margin-bottom: 20px;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: brown;
    color: white;
}